name: Code Quality Check

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main" ]
  
  workflow_dispatch:

jobs:
  checkstyle:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        
    - name: Download Checkstyle
      run: |
        wget -q https://github.com/checkstyle/checkstyle/releases/download/checkstyle-10.15.0/checkstyle-10.15.0-all.jar
        
    - name: Run Checkstyle
      run: |
        java -jar checkstyle-10.15.0-all.jar -c checkstyle.xml src/
